body {
  margin: 0;
  padding: 0;
  background: #121254;
  color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin-top: 10%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}